body {
background-color: blue;
}

#header {
background-color: chartreuse;
color:crimson;
font-family: 'Bebas Neue', cursive;
font-weight:bolder;
letter-spacing:  2px;
font-size: xx-large;
}

p{
font-family: 'Festive', cursive;
font-weight:lighter;
font-size: large;
}

.start_button{
margin-top: 20px;
width: 150px;
font-weight: bolder;
}

.copy_right_footer{
background-color: darkorange;
color: greenyellow;
width: 100%;
font-size: larger;
line-height: 30px;
text-shadow: indianred;
position: fixed;
}